In [1]:
#creating a list
numbers=[1,2,3,4]
fruits=["apple","banana","cherry"]
print(numbers)
print(fruits)

[1, 2, 3, 4]
['apple', 'banana', 'cherry']

In [3]:
# Append
fruits=["apple","banana","cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [4]:
# Clear
fruits=["apple","banana","cherry"]
fruits.clear()
print(fruits)

[]

In [5]:
#copy 
fruits=["apple","banana","cherry"]
mylist=fruits.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [6]:
#Extend
fruits=["apple","banana","cherry"]
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [7]:
#Index
fruits=["apple","banana","cherry"]
x=fruits.index("banana")
print(x)

1

In [8]:
#Insert
fruits=["apple","banana","cherry"]
fruits.insert(2,"orange")
print(fruits)

['apple', 'banana', 'orange', 'cherry']

In [10]:
#Count
fruits=["apple","banana","cherry"]
fruits2=["apple","cherry","banana","cherry"]
x = fruits.count("cherry")
y=fruits2.count("cherry")
print(x)
print(y)

1
2

In [15]:
#pop -method removes the item at the given index from the list and returns the removed item
fruits=["apple","banana","cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [16]:
#remove
fruits=["apple","banana","cherry"]
fruits.remove("cherry")
print(fruits)

['apple', 'banana']

In [17]:
#sort
fruits=["cherry","banana","apple"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry']

In [18]:
#split
a="TestingXperts Employee"
a=a.split(" ")
print(a)

['TestingXperts', 'Employee']

In [19]:
#list Slicing
fruits=["apple","banana","cherry"]
fruits[1]="orange"
print(fruits)

['apple', 'orange', 'cherry']

In [21]:
#string concatenation
a = "Hello"
b = "World"
c = a + b
print(c)
c=a+" "+b
print(c)

HelloWorld
Hello World

In [22]:
#format()- method to insert numbers into strings
age = 22
txt = "My name is Pragati, and I am {}"
print(txt.format(age))

My name is Pragati, and I am 22

In [24]:
#string slicing
my_secondlist=["a","b","c","d","a","c"]
print(my_secondlist[::-1])
print(my_secondlist[-7:-1])
print(my_secondlist[0:4:2])

['c', 'a', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'a']
['a', 'c']

In [25]:
#operators in python
x = 5
y = 3
print(x + y)
print(x*y)
print(x ** y) #same as 2*2*2*2*2
print(x % y)

8
15
125
2

In [26]:
#Uppercase,lowercase,
#Strip method removes any whitespace from the beginning or the end
a = "Hello, good evening!"
b = "  Hello, good evening!"
print(a.upper())
print(a.lower())
print(b.strip())

HELLO, GOOD EVENING!
hello, good evening!
Hello, good evening!

In [27]:
#replace() method replaces a string with another string
a = "Aragati!"
print(a.replace("A", "P"))

Pragati!

In [28]:
#Boolean values
print(600 > 50)
print(25 == 89)
print(2 < 9)

True
False
True

In [31]:
#typr casting
x = int(1)
y = int(2.8)
q = float(2.8)
z = int("3")
print(x)
print(y)
print(q)
print(z)

1
2
2.8
3

In [32]:
# reverse -> reverses the list from last to first

my_list = [1,2,3,4,5,6]
print(my_list)
my_list.reverse()
print(my_list)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [33]:
# changing the value at some specific index

my_list = ["a","b","c","d","a","c"]
my_list[1] = "new value"
print(my_list)

['a', 'new value', 'c', 'd', 'a', 'c']

In [101]:
x = ("apple", "banana", "cherry")
(six,four,five)=x
print(six)
print(five)
print(four)

apple
cherry
banana

In [4]:
#DAY 2 Python---

#Tuples

#-- data type

my_list=(10)
sec_list=(10,)

print(type(my_list))
print(type(sec_list))

<class 'int'>
<class 'tuple'>

In [10]:
# range
sec_list=(10, 20 ,30, 40)
print(sec_list[1:3])

(20, 30)

In [153]:
#Tuples are unchangeable, or immutable
#we can convert the tuple into a list to be able to change it

my_tuple=(1,2,3,4,4,6,7)
x=list(my_tuple)
x[4]=5
my_tuple=tuple(x)
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [19]:
# add items -append()

x=(1,2,3,4,5)
y=list(x)
y.append(6)
x=tuple(y)
print(x)

(1, 2, 3, 4, 5, 6)

In [53]:
# remove items 
x=(1,2,3,4,5)
y=list(x)
y.remove(4)
x=tuple(y)
print(x)

new_tuple=("Pragati", "Gurjeet", "Prateek", "Anshuman")
z=list(new_tuple)
z.remove("Prateek")
new_tuple=tuple(z)
print(new_tuple)

(1, 2, 3, 5)
('Pragati', 'Gurjeet', 'Anshuman')

In [25]:
#unpack tuples

x=(1,2,3,4,5)
(red,orange,blue,black,white)=x
print(red)
print(orange)
print(blue)
print(black)
print(white)

1
2
3
4
5

In [150]:
#Asterisk
"""If the number of variables is less than the number of values, 
we can add an * to the variable name and the values will be 
assigned to the variable as a list"""

x=(1,2,3,4,5)
(red,orange,*blue)=x
print(red)
print(orange)
print(blue)

1
2
[3, 4, 5]

In [27]:
#loop
x=(1,2,3,4,5)
for z in x:
    print(z)

1
2
3
4
5

In [29]:
#iterate through len() & range()

x=(1,2,3,4,5)
for i in range(len(x)):
    print(x[i])

1
2
3
4
5

In [30]:
#while loop

x=(1,2,3,4,5)
i=0
while i<len(x) :
    print(x[i])
    i=i+1

1
2
3
4
5

In [37]:
# we can join tuples bu using + operator
first_T=("a","b","c")
second_T=(1,2,3)
res=first_T + second_T
print(res)

('a', 'b', 'c', 1, 2, 3)

In [39]:
#Multiply
x=(1,2,3)
y=x*2
print(y)

(1, 2, 3, 1, 2, 3)

In [54]:
# intuples we have two methods cound & index
a=(1, 3, 7, 8, 7, 3, 5, 4, 6, 8, 5,3,3)
x=a.count(3)
print(x)

b=(1,2,3,4,5,6,7,8)
y=b.index(6)
txt="the given value present at the location or index number of {}"
print(txt.format(y))

4
the given value present at the location or index number of 5

In [55]:
#Dictionaries
#Dictionary represents a group of elements in the form of key value pairs
#keys can't be repeated,and are case sensititve
#key should be unique,if we mention same key again,the old key will be overwritten
#A dictionary is a collection which is ordered*, changeable,mutable and does not allow duplicates
#As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [155]:
#Creating a dictionary & accessing items

my_dict={}
print(type(my_dict))

first_emp={"name":"pragati" , "id": 3121 , "dept": "it"}
second_emp={"name":"gurjeet" , "id": 3119 , "dept": "cs"}

print(first_emp)
x=second_emp["name"]
print(x)
print(second_emp['id'])

z=len(first_emp)
txt='length of first dictionary is {}'
print(txt.format(z))

<class 'dict'>
{'name': 'pragati', 'id': 3121, 'dept': 'it'}
gurjeet
3119
length of first dictionary is 3

In [87]:
#change the values

first_emp={"name":"pragati" , "id": 3121 , "dept": "it"}

first_emp["id"] = 2020

print(first_emp)

{'name': 'pragati', 'id': 2020, 'dept': 'it'}

In [94]:
#Update 

first_emp={"name":"pragati" , 
           "id": 3121 , 
           "dept": "it"
          }
second_emp={"name":"gurjeet" ,
            "id": 3119 , 
            "dept": "cs"
           }
first_emp.update({"id": 2020})
print(first_emp)
second_emp.update({"dept":"it"})
print(second_emp)

#update --If the item does not exist, the item will be added.
first_emp['name']="prateek"
first_emp.update({"color": "red"})
print(first_emp)

{'name': 'pragati', 'id': 2020, 'dept': 'it'}
{'name': 'gurjeet', 'id': 3119, 'dept': 'it'}
{'name': 'prateek', 'id': 2020, 'dept': 'it', 'color': 'red'}

In [100]:
#Remove an item
#The pop() method removes the item with the specified key name

first_emp={"name":"pragati" , 
           "id": 3121 , 
           "dept": "it"
          }
first_emp.pop("name")
print(first_emp)

#popitem() method removes the last inserted item

second_emp={"name":"gurjeet" ,
            "id": 3119 , 
            "dept": "cs"
           }
second_emp.popitem()
print(second_emp)
#clear -method empties the dictionary
first_emp.clear()
print(first_emp)

{'id': 3121, 'dept': 'it'}
{'name': 'gurjeet', 'id': 3119}
{}

In [108]:
#TUPLE -Enumerate 

mytuple=("abc",1,2,3,"xyz")
print(mytuple)
for i,v in enumerate(mytuple):
    print(i, "is the index of my value",v)
    
    
mylist=list(mytuple)
mylist.count(2)

('abc', 1, 2, 3, 'xyz')
0 is the index of my value abc
1 is the index of my value 1
2 is the index of my value 2
3 is the index of my value 3
4 is the index of my value xyz

1

In [119]:
# keys() method to return the keys of a dictionary
first_emp={"name":"pragati" , 
           "id": 3121 , 
           "dept": "it"
          }
for x in first_emp.keys():
    print(x)

name
id
dept

In [135]:
#both keys and values-using items()
first_emp={"name":"pragati" , 
           "id": 3121 , 
           "dept": "it"
          }
#print(list(first_emp.items()))
for x,y in first_emp.items():
    print(x,y)

name pragati
id 3121
dept it

In [117]:
#copy dictionary
#copy of a dictionary with the copy() method
first_emp={"name":"pragati" , 
           "id": 3121 , 
           "dept": "it"
          }
mydict=first_emp.copy()
print(mydict)

#Make a copy of a dictionary with the dict() function
second_emp={"name":"gurjeet" ,
            "id": 3119 , 
            "dept": "cs"
           }
x=dict(second_emp)
print(x)

{'name': 'pragati', 'id': 3121, 'dept': 'it'}
{'name': 'gurjeet', 'id': 3119, 'dept': 'cs'}

In [130]:
#keys,values,items

first_emp={"name":"pragati" , 
           "id": 3121 , 
           "dept": "it"
          }
#values
print(list(first_emp.values()))
#keys
print(list(first_emp.keys()))
#items
print(list(first_emp.items()))

['pragati', 3121, 'it']
['name', 'id', 'dept']
[('name', 'pragati'), ('id', 3121), ('dept', 'it')]

In [165]:
#get() & setdefault()
first_emp={"name":"pragati" , 
           "id": 3121 , 
           "dept": "it"
          }

print(first_emp)

first_emp.setdefault("color","blue")
print(first_emp)
x=first_emp.get("name")
print(x)

{'name': 'pragati', 'id': 3121, 'dept': 'it'}
{'name': 'pragati', 'id': 3121, 'dept': 'it', 'color': 'blue'}
pragati

In [168]:
first_emp={"name":"pragati" , 
           "id": 3121 , 
           "dept": "it"
          }

first_emp['name']="Gurjeet"
print(first_emp)
first_emp.update({"id":"2020"})
print(first_emp)

second_dict={"version": 34,
            }
first_emp={**first_emp, **second_dict}
print(first_emp)

{'name': 'Gurjeet', 'id': 3121, 'dept': 'it'}
{'name': 'Gurjeet', 'id': '2020', 'dept': 'it'}
{'name': 'Gurjeet', 'id': '2020', 'dept': 'it', 'version': 34}